<div class="container">
    <div class="wrapper">
        <div class="mainChatSection">
            <div class="topChatSection">
                <app-search-contact-bar></app-search-contact-bar>

            </div>
            <div class="middleChatSection">
                <div class="conversationsSection">
                    <app-conversations-display></app-conversations-display>
                </div>

                <div class="messageSection">
                    <app-top-chat-section></app-top-chat-section>
                    <app-messages-display></app-messages-display>
                    <app-input></app-input> 
                </div>

            </div>

        </div>

    </div>
</div>